<div class="container">
    <h2 class="text-center mb-4">Walkin Patient Information</h2>
    <form id="patient-modify-form">
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" value="<%=patient.name%>" placeholder="Change name">
        </div>

        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email"
                placeholder="Change email" value="<%=patient.email%>">
        </div>

        <div class="mb-3">
            <label for="age" class="form-label">Age</label>
            <input type="number" class="form-control" id="age" min="0" max="120"
            placeholder="Change age" value="<%= patient.age || '' %>">                                    
        </div>

        <div class="mb-3">
            <label class="form-label">Gender</label><br>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="gender" id="genderMale"
                value="male" <%= patient.gender === 'male' ? 'checked' : '' %>>
              <label class="form-check-label" for="genderMale">Male</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="gender" id="genderFemale"
                value="female" <%= patient.gender === 'female' ? 'checked' : '' %>>
              <label class="form-check-label" for="genderFemale">Female</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="gender" id="genderOther"
                value="other" <%= patient.gender === 'other' ? 'checked' : '' %>>
              <label class="form-check-label" for="genderOther">Other</label>
            </div>
        </div>

        <% if(patient.labReportId) { %> 
            <!-- Loop through existing reports -->
            <% for (let i = 0; i < patient.reportCount; i++) { %>
                <div class="d-flex justify-content-between align-items-center lab-reports">
                    <a href="/labReport/<%= patient.labReportId %>/<%= i+1 %>" class="btn btn-link" target="_blank">Lab Report <%= i + 1 %></a>
                    
                    <button type="button" class="btn btn-outline-danger faa-xmark mt-1 delete-report-btn">
                        <i class="fa-solid fa-xmark"></i> Delete
                    </button>
                </div>
            <% } %> 
        <% } %>
        <div id="upload-status" class="mt-3"></div>
        
        <div>
            <input class="form-control form-control-lg d-none" id="report-upload-input" type="file" accept=".pdf" multiple>
            <button type="button" class="btn btn-outline-primary mt-1" onclick="document.getElementById('report-upload-input').click()">Add Reports</button>
        </div>

        <div class="d-flex justify-content-end gap-3">
            <button type="submit" class="btn btn-primary" aria-label="Modify patient">Modify</button>
            <% if(!online){ %>
              <button type="button" class="btn btn-danger" aria-label="Delete patient" id="deleteButton">Delete</button>
            <% } %>
        </div>                 

    </form>
</div>